#!/bin/bash
echo "Creating a file for health check" > /healthcheck.txt
yum update -y
yum install -y docker
systemctl start docker
systemctl enable docker
usermod -aG docker ssm-user
sleep 5
docker pull deekshithar1307/devops-prg-app
docker container run -d --name devops-prg-app -p 80:80 deekshithar1307/devops-prg-app